<div class="">
  <div class="selection_link">
    <a href="/"><button type="button" class="selection_btn">FootBall</button></a>
    <a href="https://liberiabasketball.net/" target="_blank"><button type="button" class="selection_btn">Basketball</button></a>
    <a href="#"><button type="button" class="selection_btn">KickBall</button></a>
  </div>