
 <aside class="main-aside">

  
    <form action="" class="search-bar"> 
        <button type="button" class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>            
        <input type="text" placeholder="Search">
    </form>  
    
    <div class="position-sticky">
        <ul class="nav flex-column gap-5">
            <li class="nav-item">
                <a class="nav-item nav-link text-light d-flex justify-content-between align-items-center" href="#">
                  <span>Leagues</span>
                    <i class="fa-solid fa-angle-right"></i>
                </a>

               <a href=""><fieldset class="aside-contant">
                    <div class="contant">
                        <img src="./images/Flag_of_Grand_Bassa_County.svg.png" alt="">
                        <div class="text-contant"> Grand Bassa</div>
                    </div>
                </fieldset></a> 

                <a href=""><fieldset class="aside-contant">
                    <div class="contant">
                        <img src="./images/Flag_of_Grand_Bassa_County.svg.png" alt="">
                        <div class="text-contant"> Grand Bassa</div>
                    </div>
                </fieldset></a> 

                <a href=""><fieldset class="aside-contant">
                    <div class="contant">
                        <img src="./images/Flag_of_Grand_Bassa_County.svg.png" alt="">
                        <div class="text-contant"> Grand Bassa</div>
                    </div>
                </fieldset></a> 

                <a href=""><fieldset class="aside-contant">
                    <div class="contant">
                        <img src="./images/Flag_of_Grand_Bassa_County.svg.png" alt="">
                        <div class="text-contant"> Grand Bassa</div>
                    </div>
                </fieldset></a> 

            </li>
            <li class="nav-item">
                  <a class="nav-item nav-link text-light d-flex justify-content-between align-items-center" href="#">
                  <span>Teams</span>
                    <i class="fa-solid fa-angle-right"></i>
                </a>
                <a href=""><fieldset class="aside-contant">
                    <div class="contant">
                        <img src="./images/Flag_of_Grand_Bassa_County.svg.png" alt="">
                        <div class="text-contant"> Grand Bassa</div>
                    </div>
                </fieldset></a> 

                <a href=""><fieldset class="aside-contant">
                    <div class="contant">
                        <img src="./images/Flag_of_Grand_Bassa_County.svg.png" alt="">
                        <div class="text-contant"> Grand Bassa</div>
                    </div>
                </fieldset></a> 

                <a href=""><fieldset class="aside-contant">
                    <div class="contant">
                        <img src="./images/Flag_of_Grand_Bassa_County.svg.png" alt="">
                        <div class="text-contant"> Grand Bassa</div>
                    </div>
                </fieldset></a> 

                <a href=""><fieldset class="aside-contant">
                    <div class="contant">
                        <img src="./images/Flag_of_Grand_Bassa_County.svg.png" alt="">
                        <div class="text-contant"> Grand Bassa</div>
                    </div>
                </fieldset></a> 
            </li>
            <li class="nav-item">
                  <a class="nav-item nav-link text-light d-flex justify-content-between align-items-center" href="#">
                  <span>County Meet</span>
                    <i class="fa-solid fa-angle-right"></i>
                </a>

                <a href=""><fieldset class="aside-contant">
                    <div class="contant">
                        <img src="./images/Flag_of_Grand_Bassa_County.svg.png" alt="">
                        <div class="text-contant"> Grand Bassa</div>
                    </div>
                </fieldset></a> 

                <a href=""><fieldset class="aside-contant">
                    <div class="contant">
                        <img src="./images/Flag_of_Grand_Bassa_County.svg.png" alt="">
                        <div class="text-contant"> Grand Bassa</div>
                    </div>
                </fieldset></a> 

                <a href=""><fieldset class="aside-contant">
                    <div class="contant">
                        <img src="./images/Flag_of_Grand_Bassa_County.svg.png" alt="">
                        <div class="text-contant"> Grand Bassa</div>
                    </div>
                </fieldset></a> 

                <a href=""><fieldset class="aside-contant">
                    <div class="contant">
                        <img src="./images/Flag_of_Grand_Bassa_County.svg.png" alt="">
                        <div class="text-contant"> Grand Bassa</div>
                    </div>
                </fieldset></a> 

                <a href=""><fieldset class="aside-contant">
                    <div class="contant">
                        <img src="./images/Flag_of_Grand_Bassa_County.svg.png" alt="">
                        <div class="text-contant"> Grand Bassa</div>
                    </div>
                </fieldset></a> 

            </li>
            <li class="nav-item">
                  <a class="nav-item nav-link text-light d-flex justify-content-between align-items-center" href="#">
                  <span>Comprtition</span>
                    <i class="fa-solid fa-angle-right"></i>
                </a>
                <a href=""><fieldset class="aside-contant">
                    <div class="contant">
                        <img src="./images/Flag_of_Grand_Bassa_County.svg.png" alt="">
                        <div class="text-contant"> Grand Bassa</div>
                    </div>
                </fieldset></a> 

                <fieldset class="aside-contant">
                    <a href="">
                <div class="contant">
                        <img src="./images/Flag_of_Grand_Bassa_County.svg.png" alt="">
                        <div class="text-contant"> Grand Bassa</div>
                    </div>
                    </a>
                </fieldset>

                <a href=""><fieldset class="aside-contant">
                    <div class="contant">
                        <img src="./images/Flag_of_Grand_Bassa_County.svg.png" alt="">
                        <div class="text-contant"> Grand Bassa</div>
                    </div>
                </fieldset></a> 
                <a href=""><fieldset class="aside-contant">
                    <div class="contant">
                        <img src="./images/Flag_of_Grand_Bassa_County.svg.png" alt="">
                        <div class="text-contant"> Grand Bassa</div>
                    </div>
                </fieldset></a> 

                <fieldset class="aside-contant">
                    <div class="contant">
                        <img src="./images/Flag_of_Grand_Bassa_County.svg.png" alt="">
                        <div class="text-contant"> <a href="#">Grand Bassa</a></div>
                    </div>
                </fieldset>
            </li>
        </ul>
    </div>
</aside>