 <!-- Navbar -->
 <aside class="nav-bar side-bar col-md-3 col-lg-2 d-md-block sidebar border">
  <form class="d-flex">
     <div class="input-group">                    
        <input type="text" class="form-control" placeholder="Search">
        <button type="button" class="btn btn-secondary"><i class="fa-solid fa-magnifying-glass"></i></button>
     </div>
    </form>
    <div class="position-sticky">
        <ul class="nav flex-column gap-5">
            <li class="nav-item">
                <a class="nav-item nav-link text-light d-flex justify-content-between align-items-center" href="#">
                  <span>Leagues</span>
                    <i class="fa-solid fa-angle-right"></i>
                </a>
                <table class="table border-0 table-hover">
                    <tr class="text-light d-flex align-items-center gap-2" onclick="window.location.href='#'">
                        <td><img src="./images/Flag_of_Grand_Bassa_County.svg.png" width="50px" alt=""> <span>Grand Bassa</span></td>
                    </tr>
                    <tr class="text-light d-flex align-items-center gap-2" onclick="window.location.href='#'">
                        <td><img src="./images/Flag_of_Grand_Bassa_County.svg.png" width="50px" alt=""> <span>Grand Bassa</span></td>
                    </tr>
                    <tr class="text-light d-flex align-items-center gap-2" onclick="window.location.href='#'">
                        <td><img src="./images/Flag_of_Grand_Bassa_County.svg.png" width="50px" alt=""> <span>Grand Bassa</span></td>
                    </tr>
                    <tr class="text-light d-flex align-items-center gap-2" onclick="window.location.href='#'">
                        <td><img src="./images/Flag_of_Grand_Bassa_County.svg.png" width="50px" alt=""> <span>Grand Bassa</span></td>
                    </tr>
                    <tr class="text-light d-flex align-items-center gap-2" onclick="window.location.href='#'">
                        <td><img src="./images/Flag_of_Grand_Bassa_County.svg.png" width="50px" alt=""> <span>Grand Bassa</span></td>
                    </tr>
                </table>
            </li>
            <li class="nav-item">
                  <a class="nav-item nav-link text-light d-flex justify-content-between align-items-center" href="#">
                  <span>Teams</span>
                    <i class="fa-solid fa-angle-right"></i>
                </a>
                <table class="table border-0 table-hover">
                    <tr class="text-light d-flex align-items-center gap-2" onclick="window.location.href='#'">
                        <td><img src="./images/Flag_of_Grand_Bassa_County.svg.png" width="50px" alt=""> <span>FC Bea Mountain</span></td>
                    </tr>
                    <tr class="text-light d-flex align-items-center gap-2" onclick="window.location.href='#'">
                        <td><img src="./images/Flag_of_Grand_Bassa_County.svg.png" width="50px" alt=""> <span>Watanga FC</span></td>
                    </tr>
                    <tr class="text-light d-flex align-items-center gap-2" onclick="window.location.href='#'">
                        <td><img src="./images/Flag_of_Grand_Bassa_County.svg.png" width="50px" alt=""> <span>Mighty Barolle M</span></td>
                    </tr>
                    <tr class="text-light d-flex align-items-center gap-2" onclick="window.location.href='#'">
                        <td><img src="./images/Flag_of_Grand_Bassa_County.svg.png" width="50px" alt=""> <span>NPA Anchors M</span></td>
                    </tr>
                    <tr class="text-light d-flex align-items-center gap-2" onclick="window.location.href='#'">
                        <td><img src="./images/Flag_of_Grand_Bassa_County.svg.png" width="50px" alt=""> <span>Nimba Kwado</span></td>
                    </tr>
                </table>
            </li>
            <li class="nav-item">
                  <a class="nav-item nav-link text-light d-flex justify-content-between align-items-center" href="#">
                  <span>County Meet</span>
                    <i class="fa-solid fa-angle-right"></i>
                </a>
                <table class="table border-0 table-hover">
                    <tr class="text-light d-flex align-items-center gap-2" onclick="window.location.href='#'">
                        <td><img src="./images/Flag_of_Grand_Bassa_County.svg.png" width="50px" alt=""> <span>Grand Bassa</span></td>
                    </tr>
                    <tr class="text-light d-flex align-items-center gap-2" onclick="window.location.href='#'">
                        <td><img src="./images/Flag_of_Gbarpolu_County.svg.png" width="50px" alt=""> <span>Gbarpolu</span></td>
                    </tr>
                    <tr class="text-light d-flex align-items-center gap-2" onclick="window.location.href='#'">
                        <td><img src="./images/Flag_of_Bong_County.svg.png" width="50px" alt=""> <span>Bong</span></td>
                    </tr>
                    <tr class="text-light d-flex align-items-center gap-2" onclick="window.location.href='#'">
                        <td><img src="./images/Flag_of_Bomi_County.svg.png" width="50px" alt=""> <span>Bomi</span></td>
                    </tr>
                    <tr class="text-light d-flex align-items-center gap-2" onclick="window.location.href='#'">
                        <td><img src="./images/Flag_of_Nimba_County.svg.png" width="50px" alt=""> <span>Nimba</span></td>
                    </tr>
                </table>
            </li>
            <li class="nav-item">
                  <a class="nav-item nav-link text-light d-flex justify-content-between align-items-center" href="#">
                  <span>Comprtition</span>
                    <i class="fa-solid fa-angle-right"></i>
                </a>
                <table class="table border-0 table-hover">
                    <tr class="text-light d-flex align-items-center gap-2" onclick="window.location.href='#'">
                        <td><img src="./images/Flag_of_Grand_Bassa_County.svg.png" width="50px" alt=""> <span>Grand Bassa</span></td>
                    </tr>
                    <tr class="text-light d-flex align-items-center gap-2" onclick="window.location.href='#'">
                        <td><img src="./images/Flag_of_Grand_Bassa_County.svg.png" width="50px" alt=""> <span>Grand Bassa</span></td>
                    </tr>
                    <tr class="text-light d-flex align-items-center gap-2" onclick="window.location.href='#'">
                        <td><img src="./images/Flag_of_Grand_Bassa_County.svg.png" width="50px" alt=""> <span>Grand Bassa</span></td>
                    </tr>
                    <tr class="text-light d-flex align-items-center gap-2" onclick="window.location.href='#'">
                        <td><img src="./images/Flag_of_Grand_Bassa_County.svg.png" width="50px" alt=""> <span>Grand Bassa</span></td>
                    </tr>
                    <tr class="text-light d-flex align-items-center gap-2" onclick="window.location.href='#'">
                        <td><img src="./images/Flag_of_Grand_Bassa_County.svg.png" width="50px" alt=""> <span>Grand Bassa</span></td>
                    </tr>
                </table>
            </li>
        </ul>
    </div>
</aside>