
 <aside class="main-aside">

  
    <form action="" class="search-bar"> 
        <button type="button" class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>            
        <input type="text" placeholder="Search">
    </form>  
    
    <div class="position-sticky">
        <ul class="nav flex-column gap-2">
            <li class="nav-item">
                <a class="nav-item nav-link sidebar_headlings d-flex justify-content-between align-items-center" href="#">
                  <span>Leagues</span>
                    <i class="fa-solid fa-angle-right"></i>
                </a>
                 <a href="/league1_overview" class="text-decoration-none">
                    <fieldset class="aside_content">
                        <div class="contant">
                            <img src="./images/Flag_of_Grand_Bassa_County.svg.png" alt="" class="sidebar_imgs">
                            <div class="text_content">League 1</div>
                        </div>
                    </fieldset>
                </a>
                 <a href="" class="text-decoration-none">
                    <fieldset class="aside_content">
                        <div class="contant">
                            <img src="./images/Flag_of_Grand_Bassa_County.svg.png" alt="" class="sidebar_imgs">
                            <div class="text_content"> Grand Bassa</div>
                        </div>
                    </fieldset>
                </a>
                 <a href="" class="text-decoration-none">
                    <fieldset class="aside_content">
                        <div class="contant">
                            <img src="./images/Flag_of_Grand_Bassa_County.svg.png" alt="" class="sidebar_imgs">
                            <div class="text_content"> Grand Bassa</div>
                        </div>
                    </fieldset>
                </a>
                 <a href="" class="text-decoration-none">
                    <fieldset class="aside_content">
                        <div class="contant">
                            <img src="./images/Flag_of_Grand_Bassa_County.svg.png" alt="" class="sidebar_imgs">
                            <div class="text_content"> Grand Bassa</div>
                        </div>
                    </fieldset>
                </a>

            </li>
            <li class="nav-item">
                  <a class="nav-item nav-link sidebar_headlings d-flex justify-content-between align-items-center" href="#">
                  <span>Teams</span>
                    <i class="fa-solid fa-angle-right"></i>
                </a>
<<<<<<< HEAD
                <a href="" class="text-decoration-none">
                    <fieldset class="aside_content">
                        <div class="contant">
                            <img src="./images/Flag_of_Grand_Bassa_County.svg.png" alt="" class="sidebar_imgs">
                            <div class="text_content"> Grand Bassa</div>
                        </div>
                    </fieldset>
                </a> 
                <a href="" class="text-decoration-none">
                    <fieldset class="aside_content">
                        <div class="contant">
                            <img src="./images/Flag_of_Grand_Bassa_County.svg.png" alt="" class="sidebar_imgs">
                            <div class="text_content"> Grand Bassa</div>
                        </div>
                    </fieldset>
                </a>
                <a href="" class="text-decoration-none">
                    <fieldset class="aside_content">
                        <div class="contant">
                            <img src="./images/Flag_of_Grand_Bassa_County.svg.png" alt="" class="sidebar_imgs">
                            <div class="text_content"> Grand Bassa</div>
                        </div>
                    </fieldset>
                </a>
                <a href="" class="text-decoration-none">
                    <fieldset class="aside_content">
                        <div class="contant">
                            <img src="./images/Flag_of_Grand_Bassa_County.svg.png" alt="" class="sidebar_imgs">
                            <div class="text_content"> Grand Bassa</div>
                        </div>
                    </fieldset>
                </a>
=======
                <a href="/team"><fieldset class="aside-contant">
                    <div class="contant">
                        <img src="./images/Flag_of_Grand_Bassa_County.svg.png" alt="">
                        <div class="text-contant"> Grand Bassa</div>
                    </div>
                </fieldset></a> 

                <a href=""><fieldset class="aside-contant">
                    <div class="contant">
                        <img src="./images/Flag_of_Grand_Bassa_County.svg.png" alt="">
                        <div class="text-contant"> Grand Bassa</div>
                    </div>
                </fieldset></a> 

                <a href=""><fieldset class="aside-contant">
                    <div class="contant">
                        <img src="./images/Flag_of_Grand_Bassa_County.svg.png" alt="">
                        <div class="text-contant"> Grand Bassa</div>
                    </div>
                </fieldset></a> 

                <a href=""><fieldset class="aside-contant">
                    <div class="contant">
                        <img src="./images/Flag_of_Grand_Bassa_County.svg.png" alt="">
                        <div class="text-contant"> Grand Bassa</div>
                    </div>
                </fieldset></a> 
>>>>>>> 9c17e2aba6b47c93bc4b5c55fbb2b169e719f1a8
            </li>
            <li class="nav-item">
                  <a class="nav-item nav-link sidebar_headlings d-flex justify-content-between align-items-center" href="#">
                  <span>County Meet</span>
                    <i class="fa-solid fa-angle-right"></i>
                </a>
                <a href="" class="text-decoration-none">
                    <fieldset class="aside_content">
                        <div class="contant">
                            <img src="./images/Flag_of_Grand_Bassa_County.svg.png" alt="" class="sidebar_imgs">
                            <div class="text_content"> Grand Bassa</div>
                        </div>
                    </fieldset>
                </a>

                  <a href="" class="text-decoration-none">
                    <fieldset class="aside_content">
                        <div class="contant">
                            <img src="./images/Flag_of_Grand_Bassa_County.svg.png" alt="" class="sidebar_imgs">
                            <div class="text_content"> Grand Bassa</div>
                        </div>
                    </fieldset>
                </a>

                  <a href="" class="text-decoration-none">
                    <fieldset class="aside_content">
                        <div class="contant">
                            <img src="./images/Flag_of_Grand_Bassa_County.svg.png" alt="" class="sidebar_imgs">
                            <div class="text_content"> Grand Bassa</div>
                        </div>
                    </fieldset>
                </a>

                  <a href="" class="text-decoration-none">
                    <fieldset class="aside_content">
                        <div class="contant">
                            <img src="./images/Flag_of_Grand_Bassa_County.svg.png" alt="" class="sidebar_imgs">
                            <div class="text_content"> Grand Bassa</div>
                        </div>
                    </fieldset>
                </a>

                <a href="" class="text-decoration-none">
                    <fieldset class="aside_content">
                        <div class="contant">
                            <img src="./images/Flag_of_Grand_Bassa_County.svg.png" alt="" class="sidebar_imgs">
                            <div class="text_content"> Grand Bassa</div>
                        </div>
                    </fieldset>
                </a>

            </li>
            <li class="nav-item">
                  <a class="nav-item nav-link sidebar_headlings d-flex justify-content-between align-items-center" href="#">
                  <span>Competition</span>
                    <i class="fa-solid fa-angle-right"></i>
                </a>
                <a href="" class="text-decoration-none">
                    <fieldset class="aside_content">
                        <div class="contant">
                            <img src="./images/Flag_of_Grand_Bassa_County.svg.png" alt="" class="sidebar_imgs">
                            <div class="text_content"> Grand Bassa</div>
                        </div>
                    </fieldset>
                </a>
                <a href="" class="text-decoration-none">
                    <fieldset class="aside_content">
                        <div class="contant">
                            <img src="./images/Flag_of_Grand_Bassa_County.svg.png" alt="" class="sidebar_imgs">
                            <div class="text_content"> Grand Bassa</div>
                        </div>
                    </fieldset>
                </a>
                <a href="" class="text-decoration-none">
                    <fieldset class="aside_content">
                        <div class="contant">
                            <img src="./images/Flag_of_Grand_Bassa_County.svg.png" alt="" class="sidebar_imgs">
                            <div class="text_content"> Grand Bassa</div>
                        </div>
                    </fieldset>
                </a> 
                <a href="" class="text-decoration-none">
                    <fieldset class="aside_content">
                        <div class="contant">
                            <img src="./images/Flag_of_Grand_Bassa_County.svg.png" alt="" class="sidebar_imgs">
                            <div class="text_content"> Grand Bassa</div>
                        </div>
                    </fieldset>
                </a>
                <a href="" class="text-decoration-none">
                    <fieldset class="aside_content">
                        <div class="contant">
                            <img src="./images/Flag_of_Grand_Bassa_County.svg.png" alt="" class="sidebar_imgs">
                            <div class="text_content"> Grand Bassa</div>
                        </div>
                    </fieldset>
                </a>
            </li>
        </ul>
    </div>
</aside>