<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lib Livescore Form</title>
    <link rel="stylesheet" href="../css/form.css">
      <!-- bootstrap link place below -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <h1>County Registertion Form</h1>

    
<!-- Form for Counties -->
<form id="county-form" method="POST" action="/submit_county" enctype="multipart/form-data">
    <h2>County Information</h2>
    <label for="county_name">County Name:</label>
    <input type="text" id="county_name" name="county_name" required><br>
  
    <label for="city">City:</label>
    <input type="text" id="city" name="city" required><br>
  
    <label for="county_logo">County Logo:</label>
    <input type="file" id="county_logo" name="county_logo"><br>
  
    <label for="home_stadium">Home Stadium:</label>
    <input type="text" id="home_stadium" name="home_stadium" required><br>
  
    <label for="founded_year">Founded Year:</label>
    <input type="number" id="founded_year" name="founded_year" required><br><br>

    <label for="league">Choose League:</label><br>
        <select name="league" id="league" required>
          <% leagueType.forEach(function(leagueType){ %>
            <option value="<%= leagueType.league_id %>"><%= leagueType.league_name %></option>
          <% }); %>
        </select><br><br>
  
    <button type="submit">Submit County</button>
</form>
 <!-- Internal Javascript link -->
<script src="js/main.js"></script>
</body>
</html>
