<%- include ("partials/header.ejs") %>
    <div class="">
      <div class="selection_link">
        <a href="#"><button type="button" class="selection_btn">FootBall</button></a>
        <a href="#"><button type="button" class="selection_btn">Basketball</button></a>
        <a href="#"><button type="button" class="selection_btn">KickBall</button></a>
      </div>
      <section class="dashcontainer">
        <%- include('partials/sidebar', { teamdata: teamdata, leaguedata: leaguedata, countydata: countydata }) %>
          <main class="main_display">
            <nav class="main_nav">
                <div class="main_nav_lc">
                    <a href="#"><button type="button" class="m_link_btn">Live</button></a>
                    <a href="#" class="main_link">SUN<br><span>01 SEP</span></a>
                    <a href="#" class="main_link">MON<br><span>01 SEP</span></a>
                    <a href="#" class="main_link">TODAY<br><span>01 SEP</span></a>
                    <a href="#" class="main_link">WED<br><span>01 SEP</span></a>
                    <a href="#" class="main_link">THU<br><span>01 SEP</span></a>
                    <a href="#" class="main_link"><i class="fa-regular fa-calendar-days"></i></a>
                </div>
            </nav>
          <section class="main_content-sec">
            <div class="qualification_group">
              <div class="qualification_link">
                <a href="" class="qualification">
                  <img class=" qualification_img" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png" alt="">
                  <div>
                    <h5 class="text_color">Qualification: Group A</h5>
                    <p>Africa Cup of Nations Qualification</p>
                  </div>
                </a>
              </div>
              <div class="qualification_link">
                <a href="">
                  <i class="fa-solid fa-angle-right"></i>
                </a>
              </div>
            </div>

            <fieldset class="main_content">
              <a href="#" class="main_content_link d-flex justify-content-between align-items-center text-decoration-none">
              <div class="d-flex lign-items-center gap-4 ms-2">
                <div class="d-flex align-items-center">
                  <p>HT</p>
                </div>
                <div class="main_content_teams">
                  <div class="d-flex gap-2">
                    <img class="main_content_imgs" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png"" alt="">
                    <p>NPA Anchors</p>
                  </div>
                  <div class="d-flex gap-2">
                    <img class="main_content_imgs" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png"" alt="">
                    <p>Watanga FC</p>
                  </div>
                </div>
              </div>
              <div class="contant me-2">
                <i class="fa-regular fa-star fs-2"></i>
              </div>
             </a>
          </fieldset>
          <div class="qualification_group">
            <div class="qualification_link">
              <a href="" class="qualification">
                <img class=" qualification_img" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png" alt="">
                <div>
                  <h5 class="text_color">Qualification: Group A</h5>
                  <p>Africa Cup of Nations Qualification</p>
                </div>
              </a>
            </div>
            <div class="qualification_link">
              <a href="">
                <i class="fa-solid fa-angle-right"></i>
              </a>
            </div>
          </div>

          <fieldset class="main_content">
            <a href="#" class="main_content_link d-flex justify-content-between align-items-center text-decoration-none">
            <div class="d-flex lign-items-center gap-4 ms-2">
              <div class="d-flex align-items-center">
                <p>HT</p>
              </div>
              <div class="main_content_teams">
                <div class="d-flex gap-2">
                  <img class="main_content_imgs" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png"" alt="">
                  <p>NPA Anchors</p>
                </div>
                <div class="d-flex gap-2">
                  <img class="main_content_imgs" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png"" alt="">
                  <p>Watanga FC</p>
                </div>
              </div>
            </div>
            <div class="contant me-2">
              <i class="fa-regular fa-star fs-2"></i>
            </div>
           </a>
        </fieldset>
        <div class="qualification_group">
          <div class="qualification_link">
            <a href="" class="qualification">
              <img class=" qualification_img" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png" alt="">
              <div>
                <h5 class="text_color">Qualification: Group A</h5>
                <p>Africa Cup of Nations Qualification</p>
              </div>
            </a>
          </div>
          <div class="qualification_link">
            <a href="">
              <i class="fa-solid fa-angle-right"></i>
            </a>
          </div>
        </div>

        <fieldset class="main_content">
          <a href="#" class="main_content_link d-flex justify-content-between align-items-center text-decoration-none">
          <div class="d-flex lign-items-center gap-4 ms-2">
            <div class="d-flex align-items-center">
              <p>HT</p>
            </div>
            <div class="main_content_teams">
              <div class="d-flex gap-2">
                <img class="main_content_imgs" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png"" alt="">
                <p>NPA Anchors</p>
              </div>
              <div class="d-flex gap-2">
                <img class="main_content_imgs" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png"" alt="">
                <p>Watanga FC</p>
              </div>
            </div>
          </div>
          <div class="contant me-2">
            <i class="fa-regular fa-star fs-2"></i>
          </div>
         </a>
      </fieldset>
      <div class="qualification_group">
        <div class="qualification_link">
          <a href="" class="qualification">
            <img class=" qualification_img" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png" alt="">
            <div>
              <h5 class="text_color">Qualification: Group A</h5>
              <p>Africa Cup of Nations Qualification</p>
            </div>
          </a>
        </div>
        <div class="qualification_link">
          <a href="">
            <i class="fa-solid fa-angle-right"></i>
          </a>
        </div>
      </div>

      <fieldset class="main_content">
        <a href="#" class="main_content_link d-flex justify-content-between align-items-center text-decoration-none">
        <div class="d-flex lign-items-center gap-4 ms-2">
          <div class="d-flex align-items-center">
            <p>HT</p>
          </div>
          <div class="main_content_teams">
            <div class="d-flex gap-2">
              <img class="main_content_imgs" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png"" alt="">
              <p>NPA Anchors</p>
            </div>
            <div class="d-flex gap-2">
              <img class="main_content_imgs" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png"" alt="">
              <p>Watanga FC</p>
            </div>
          </div>
        </div>
        <div class="contant me-2">
          <i class="fa-regular fa-star fs-2"></i>
        </div>
       </a>
    </fieldset>
    <div class="qualification_group">
      <div class="qualification_link">
        <a href="" class="qualification">
          <img class=" qualification_img" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png" alt="">
          <div>
            <h5 class="text_color">Qualification: Group A</h5>
            <p>Africa Cup of Nations Qualification</p>
          </div>
        </a>
      </div>
      <div class="qualification_link">
        <a href="">
          <i class="fa-solid fa-angle-right"></i>
        </a>
      </div>
    </div>

    <fieldset class="main_content">
      <a href="#" class="main_content_link d-flex justify-content-between align-items-center text-decoration-none">
      <div class="d-flex lign-items-center gap-4 ms-2">
        <div class="d-flex align-items-center">
          <p>HT</p>
        </div>
        <div class="main_content_teams">
          <div class="d-flex gap-2">
            <img class="main_content_imgs" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png"" alt="">
            <p>NPA Anchors</p>
          </div>
          <div class="d-flex gap-2">
            <img class="main_content_imgs" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png"" alt="">
            <p>Watanga FC</p>
          </div>
        </div>
      </div>
      <div class="contant me-2">
        <i class="fa-regular fa-star fs-2"></i>
      </div>
     </a>
  </fieldset>
  <div class="qualification_group">
    <div class="qualification_link">
      <a href="" class="qualification">
        <img class=" qualification_img" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png" alt="">
        <div>
          <h5 class="text_color">Qualification: Group A</h5>
          <p>Africa Cup of Nations Qualification</p>
        </div>
      </a>
    </div>
    <div class="qualification_link">
      <a href="">
        <i class="fa-solid fa-angle-right"></i>
      </a>
    </div>
  </div>

  <fieldset class="main_content">
    <a href="#" class="main_content_link d-flex justify-content-between align-items-center text-decoration-none">
    <div class="d-flex lign-items-center gap-4 ms-2">
      <div class="d-flex align-items-center">
        <p>HT</p>
      </div>
      <div class="main_content_teams">
        <div class="d-flex gap-2">
          <img class="main_content_imgs" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png"" alt="">
          <p>NPA Anchors</p>
        </div>
        <div class="d-flex gap-2">
          <img class="main_content_imgs" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png"" alt="">
          <p>Watanga FC</p>
        </div>
      </div>
    </div>
    <div class="contant me-2">
      <i class="fa-regular fa-star fs-2"></i>
    </div>
   </a>
</fieldset>
<div class="qualification_group">
  <div class="qualification_link">
    <a href="" class="qualification">
      <img class=" qualification_img" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png" alt="">
      <div>
        <h5 class="text_color">Qualification: Group A</h5>
        <p>Africa Cup of Nations Qualification</p>
      </div>
    </a>
  </div>
  <div class="qualification_link">
    <a href="">
      <i class="fa-solid fa-angle-right"></i>
    </a>
  </div>
</div>

<fieldset class="main_content">
  <a href="#" class="main_content_link d-flex justify-content-between align-items-center text-decoration-none">
  <div class="d-flex lign-items-center gap-4 ms-2">
    <div class="d-flex align-items-center">
      <p>HT</p>
    </div>
    <div class="main_content_teams">
      <div class="d-flex gap-2">
        <img class="main_content_imgs" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png"" alt="">
        <p>NPA Anchors</p>
      </div>
      <div class="d-flex gap-2">
        <img class="main_content_imgs" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png"" alt="">
        <p>Watanga FC</p>
      </div>
    </div>
  </div>
  <div class="contant me-2">
    <i class="fa-regular fa-star fs-2"></i>
  </div>
 </a>
</fieldset>
          </section>
          </main>
      </section>
    </div>
  </div>
<%- include ("partials/footer.ejs") %>