<%- include ("partials/header.ejs") %>
    <div class="container-fluid">
      <div class="selection_link">
        <a href="#"><button type="button" class="btn selection_btn fw-bold focus">FootBall</button></a>
        <a href="#"><button type="button" class="btn selection_btn fw-bold">Basketball</button></a>
        <a href="#"><button type="button" class="btn selection_btn fw-bold">KickBall</button></a>
      </div>
      <section class="dashcontainer d-flex gap-4">
        <%- include ("partials/sidebar.ejs") %>
          <main class="border">
            <nav class="navbar navbar-expand-lg navbar-light">
              <div class="container-fluid">
                  <div class="" id="navbarCollapse">
                      <div class="navbar-nav d-flex justify-content-between align-items-center gap-4">
                        <a href="#"><button type="button" class="btn bg-light fw-bold">Live</button></a>
                          <a href="#" class="nav-item nav-link text-light fw-bold">SUN<br>01 SEP</a>
                          <a href="#" class="nav-item nav-link text-light fw-bold">MON<br>02 SEP</a>
                          <a href="#" class="nav-item nav-link text-light fw-bold">TODAY<br>03 SEP</a>
                          <a href="#" class="nav-item nav-link text-light fw-bold">WED<br>04 SEP</a>
                          <a href="#" class="nav-item nav-link text-light fw-bold">THU<br>05 SEP</a>
                          <a href="#" class="nav-item nav-link text-light fw-bold"><i class="fa-regular fa-calendar-days"></i></a>
                      </div>
                  </div>
              </div>
          </nav>
          <section>
            

          </section>
          </main>
      </section>
    </div>
  </div>
</body>


</html>