<%- include ("partials/header.ejs") %>
    <div class="">
      <div class="selection_link">
        <a href="#"><button type="button" class="selection_btn">FootBall</button></a>
        <a href="#"><button type="button" class="selection_btn">Basketball</button></a>
        <a href="#"><button type="button" class="selection_btn">KickBall</button></a>
      </div>
      <section class="dashcontainer">
        <%- include ("partials/sidebar.ejs") %>
          <main class="main_display">

                <nav class="qualification_main_nav">
                    <div class="qualificationmain_nav_lc">
                      <div class="qualification_link">
                        <a href="" class="qualification">
                          <img class=" qualification_img" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png" alt="">
                          <div class="qualification_heading">
                            <h5 class="text-light">Watanga FC</h5>
                            <p>Liberia</p>
                          </div>
                        </a>
                      </div>
                      <div class="qualification-action-btn">
                        <a href="/team"><button type="button" class="qualification-btn">Overview</button></a>
                        <a href="#"><button type="button" class="qualification-btn">Matches</button></a>
                        <a href="/team_table"><button type="button" class="qualification-btn">Table</button></a>
                        <a href="#"><button type="button" class="qualification-btn">Play-Stats</button></a>
                      </div>
                    </div>
                </nav>
                <div>
                  <a class="sidebar_headlings d-flex justify-content-between align-items-center" href="#">
                    <span>LFA National League</span>
                      <i class="fa-solid fa-angle-right"></i>
                  </a>
                </div>
                <div class="selection_link">
                  <a href="/team_table"><button type="button" class="selection_btn">All</button></a>
                  <a href="/team_table_home"><button type="button" class="selection_btn">Home</button></a>
                  <a href="/team_table_away"><button type="button" class="selection_btn">Away</button></a>
                  <a href="/team_table_form"><button type="button" class="selection_btn">Form</button></a>
                </div>
                <section class="table_content_sec">
                  <table class="table_leageu1">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Team</th>
                            <th>P</th>
                            <th>W</th>
                            <th>D</th>
                            <th>L</th>
                            <th>F</th>
                            <th>A</th>
                            <th>GD</th>
                            <th>PTS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>
                              <img class="main_content_imgs" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png" alt="">
                               <a href="">Manchester City</a>
                            </td>
                            <td>3</td>
                            <td>3</td>
                            <td>0</td>
                            <td>0</td>
                            <td>9</td>
                            <td>2</td>
                            <td>7</td>
                            <td>9</td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td>
                            <img class="main_content_imgs" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png" alt="">
                             <a href="">Manchester City</a>
                          </td>
                          <td>3</td>
                          <td>3</td>
                          <td>0</td>
                          <td>0</td>
                          <td>9</td>
                          <td>2</td>
                          <td>7</td>
                          <td>9</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>
                          <img class="main_content_imgs" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png" alt="">
                          <a href="">Manchester City</a>
                        </td>
                        <td>3</td>
                        <td>3</td>
                        <td>0</td>
                        <td>0</td>
                        <td>9</td>
                        <td>2</td>
                        <td>7</td>
                        <td>9</td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td>
                        <img class="main_content_imgs" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png" alt="">
                         <a href="">Manchester City</a>
                      </td>
                      <td>3</td>
                      <td>3</td>
                      <td>0</td>
                      <td>0</td>
                      <td>9</td>
                      <td>2</td>
                      <td>7</td>
                      <td>9</td>
                  </tr>
                  <tr>
                    <td>5</td>
                        <td>
                          <img class="main_content_imgs" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png" alt="">
                           <a href="">Manchester City</a>
                       </td>
                       <td>3</td>
                       <td>3</td>
                       <td>0</td>
                       <td>0</td>
                       <td>9</td>
                       <td>2</td>
                       <td>7</td>
                       <td>9</td>
                   </tr>  
                   <tr>
                    <td>5</td>
                        <td>
                          <img class="main_content_imgs" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png" alt="">
                           <a href="">Manchester City</a>
                       </td>
                       <td>3</td>
                       <td>3</td>
                       <td>0</td>
                       <td>0</td>
                       <td>9</td>
                       <td>2</td>
                       <td>7</td>
                       <td>9</td>
                   </tr>  
                   <tr>
                    <td>5</td>
                        <td>
                          <img class="main_content_imgs" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png" alt="">
                           <a href="">Manchester City</a>
                       </td>
                       <td>3</td>
                       <td>3</td>
                       <td>0</td>
                       <td>0</td>
                       <td>9</td>
                       <td>2</td>
                       <td>7</td>
                       <td>9</td>
                   </tr>  
                   <tr>
                    <td>5</td>
                        <td>
                          <img class="main_content_imgs" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png" alt="">
                           <a href="">Manchester City</a>
                       </td>
                       <td>3</td>
                       <td>3</td>
                       <td>0</td>
                       <td>0</td>
                       <td>9</td>
                       <td>2</td>
                       <td>7</td>
                       <td>9</td>
                   </tr>  
                   <tr>
                    <td>5</td>
                        <td>
                          <img class="main_content_imgs" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png" alt="">
                           <a href="">Manchester City</a>
                       </td>
                       <td>3</td>
                       <td>3</td>
                       <td>0</td>
                       <td>0</td>
                       <td>9</td>
                       <td>2</td>
                       <td>7</td>
                       <td>9</td>
                   </tr>  
                   <tr>
                    <td>5</td>
                        <td>
                          <img class="main_content_imgs" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png" alt="">
                           <a href="">Manchester City</a>
                       </td>
                       <td>3</td>
                       <td>3</td>
                       <td>0</td>
                       <td>0</td>
                       <td>9</td>
                       <td>2</td>
                       <td>7</td>
                       <td>9</td>
                   </tr>  
                   <tr>
                    <td>5</td>
                        <td>
                          <img class="main_content_imgs" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png" alt="">
                           <a href="">Manchester City</a>
                       </td>
                       <td>3</td>
                       <td>3</td>
                       <td>0</td>
                       <td>0</td>
                       <td>9</td>
                       <td>2</td>
                       <td>7</td>
                       <td>9</td>
                   </tr>  
                   <tr>
                    <td>5</td>
                        <td>
                          <img class="main_content_imgs" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png" alt="">
                           <a href="">Manchester City</a>
                       </td>
                       <td>3</td>
                       <td>3</td>
                       <td>0</td>
                       <td>0</td>
                       <td>9</td>
                       <td>2</td>
                       <td>7</td>
                       <td>9</td>
                   </tr>  
                   <tr>
                    <td>5</td>
                        <td>
                          <img class="main_content_imgs" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png" alt="">
                           <a href="">Manchester City</a>
                       </td>
                       <td>3</td>
                       <td>3</td>
                       <td>0</td>
                       <td>0</td>
                       <td>9</td>
                       <td>2</td>
                       <td>7</td>
                       <td>9</td>
                   </tr>  
                   <tr>
                    <td>5</td>
                        <td>
                          <img class="main_content_imgs" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png" alt="">
                           <a href="">Manchester City</a>
                       </td>
                       <td>3</td>
                       <td>3</td>
                       <td>0</td>
                       <td>0</td>
                       <td>9</td>
                       <td>2</td>
                       <td>7</td>
                       <td>9</td>
                   </tr>  
                   <tr>
                    <td>5</td>
                        <td>
                          <img class="main_content_imgs" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png" alt="">
                           <a href="">Manchester City</a>
                       </td>
                       <td>3</td>
                       <td>3</td>
                       <td>0</td>
                       <td>0</td>
                       <td>9</td>
                       <td>2</td>
                       <td>7</td>
                       <td>9</td>
                   </tr>  
                   <tr>
                    <td>5</td>
                        <td>
                          <img class="main_content_imgs" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png" alt="">
                           <a href="">Manchester City</a>
                       </td>
                       <td>3</td>
                       <td>3</td>
                       <td>0</td>
                       <td>0</td>
                       <td>9</td>
                       <td>2</td>
                       <td>7</td>
                       <td>9</td>
                   </tr>  
                   <tr>
                    <td>5</td>
                        <td>
                          <img class="main_content_imgs" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png" alt="">
                           <a href="">Manchester City</a>
                       </td>
                       <td>3</td>
                       <td>3</td>
                       <td>0</td>
                       <td>0</td>
                       <td>9</td>
                       <td>2</td>
                       <td>7</td>
                       <td>9</td>
                   </tr>  
                   <tr>
                    <td>5</td>
                        <td>
                          <img class="main_content_imgs" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png" alt="">
                          <a href="">Manchester City</a>
                       </td>
                       <td>3</td>
                       <td>3</td>
                       <td>0</td>
                       <td>0</td>
                       <td>9</td>
                       <td>2</td>
                       <td>7</td>
                       <td>9</td>
                   </tr>  
                  
                    </tbody>
                </table>
                
                </section> 
        </main>
      </section>
    </div>
  </div>
  <%- include ("partials/footer.ejs") %>