<%- include ("partials/header.ejs") %>
    <div class="">
      <div class="selection_link">
        <a href="#"><button type="button" class="selection_btn">FootBall</button></a>
        <a href="#"><button type="button" class="selection_btn">Basketball</button></a>
        <a href="#"><button type="button" class="selection_btn">KickBall</button></a>
      </div>
      <section class="dashcontainer">
        <%- include ("partials/sidebar.ejs") %>
          <main class="main_display">

                <nav class="qualification_main_nav">
                    <div class="qualificationmain_nav_lc">
                      <div class="qualification_link">
                        <a href="" class="qualification">
                          <img class=" qualification_img" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png" alt="">
                          <div class="qualification_heading">
                            <h5 class="text-light">Grand Bassa</h5>
                            <p>Liberia</p>
                          </div>
                        </a>
                      </div>
                      <div class="qualification-action-btn">
                        <a href="/views/team.ejs"><button type="button" class="qualification-btn">Overview</button></a>
                        <a href=""><button type="button" class="qualification-btn">Matches</button></a>
                        <a href="#"><button type="button" class="qualification-btn">Table</button></a>
                        <a href="#"><button type="button" class="qualification-btn">Play-Stats</button></a>
                      </div>
                    </div>
                </nav>
                <div class="matches">
                    <div class="select_matches_btn">
                        <a href="#"><button type="button" class="select_btn">FIXTURES</button></a>
                        <a href="#"><button type="button" class="select_btn">RESULTS</button></a>
                    </div>

                
              <section class="main_content-sec">
               <h3>FORM</h3>
              <fieldset class="main_content">
                <a href="#" class="main_content_link d-flex justify-content-between align-items-center text-decoration-none">
                <div class="d-flex lign-items-center gap-4 ms-2">
                  <div class="d-flex align-items-center">
                    <p>HT</p>
                  </div>
                  <div class="main_content_teams">
                    <div class="d-flex gap-2">
                      <img class="main_content_imgs" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png"" alt="">
                      <p>NPA Anchors</p>
                    </div>
                    <div class="d-flex gap-2">
                      <img class="main_content_imgs" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png"" alt="">
                      <p>Watanga FC</p>
                    </div>
                  </div>
                </div>
                <div class="contant me-2">
                  <i class="fa-regular fa-star fs-2"></i>
                </div>
              </a>
                  </fieldset>
                
                  <fieldset class="main_content">
                    <a href="#" class="main_content_link d-flex justify-content-between align-items-center text-decoration-none">
                    <div class="d-flex lign-items-center gap-4 ms-2">
                      <div class="d-flex align-items-center">
                        <p>HT</p>
                      </div>
                      <div class="main_content_teams">
                        <div class="d-flex gap-2">
                          <img class="main_content_imgs" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png"" alt="">
                          <p>NPA Anchors</p>
                        </div>
                        <div class="d-flex gap-2">
                          <img class="main_content_imgs" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png"" alt="">
                          <p>Watanga FC</p>
                        </div>
                      </div>
                    </div>
                    <div class="contant me-2">
                      <i class="fa-regular fa-star fs-2"></i>
                    </div>
                  </a>
                </fieldset>
          
                <fieldset class="main_content">
                  <a href="#" class="main_content_link d-flex justify-content-between align-items-center text-decoration-none">
                  <div class="d-flex lign-items-center gap-4 ms-2">
                    <div class="d-flex align-items-center">
                      <p>HT</p>
                    </div>
                    <div class="main_content_teams">
                      <div class="d-flex gap-2">
                        <img class="main_content_imgs" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png"" alt="">
                        <p>NPA Anchors</p>
                      </div>
                      <div class="d-flex gap-2">
                        <img class="main_content_imgs" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png"" alt="">
                        <p>Watanga FC</p>
                      </div>
                    </div>
                  </div>
                  <div class="contant me-2">
                    <i class="fa-regular fa-star fs-2"></i>
                  </div>
                </a>
              </fieldset>
            
              <fieldset class="main_content">
                <a href="#" class="main_content_link d-flex justify-content-between align-items-center text-decoration-none">
                <div class="d-flex lign-items-center gap-4 ms-2">
                  <div class="d-flex align-items-center">
                    <p>HT</p>
                  </div>
                  <div class="main_content_teams">
                    <div class="d-flex gap-2">
                      <img class="main_content_imgs" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png"" alt="">
                      <p>NPA Anchors</p>
                    </div>
                    <div class="d-flex gap-2">
                      <img class="main_content_imgs" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png"" alt="">
                      <p>Watanga FC</p>
                    </div>
                  </div>
                </div>
                <div class="contant me-2">
                  <i class="fa-regular fa-star fs-2"></i>
                </div>
              </a>
              </fieldset>
           </section>
        </main>
      </section>
    </div>
  </div>
  <%- include ("partials/footer.ejs") %>