/* Font family links */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* The unversial selector*/
* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* Setting the colors and font family in the root */
:root{
  --bg_color: #020035;
  --btnDefC: #43456E;
  --focusTColo: #000000;
  --text_Dcolor: #ffffff;
  --lhover_color: #fe0101;
  --tableD_hoverc: #808080;
  --border_color: #769BF5;
  --ffont_family: "Roboto", sans-serif;
}
input, button{
  appearance: none;
  border: none;
  outline: none;
  background: none;

}

/* The home page styleing starts here */

header{
  width: 100%;
  height: 25vh;
  display: flex;
  align-items: end;
}

.navbar-nav{
  display: flex;
  gap: 16rem;
}

.logo {
  width: 250px;
  height: 80px;
}

.link_colorh i, .link_colorh span {
  color: var(--lhover_color);
}

.link_color i, .link_color span {
  color: var(--text_Dcolor);
}

.link_color i:hover, .link_color span:hover,
.link_color i:focus, .link_color span:focus {
  color: var(--lhover_color);
}

.home_body {
  background: var(--bg_color);
}

.dashcontainer{
  display: flex;
  gap: 3rem;
  width: 100%;
  height: max-content;
}

.selection_link {
  display: flex;
  gap: 4rem;
  padding: 2rem 0;
}

a .selection_btn:focus{
 background: var(--text_Dcolor); 
 outline: none;
 border-radius: 2rem;
 color: var(--focusTColo);
}

a .selection_btn{
  background: var(--btnDefC); 
  border: none;
  outline: none;
  border-radius: 2rem;
  padding: .6rem 2.3rem;
  color: var(--text_Dcolor);
  font-weight: 700;
 }
 
 .main-aside{
  border: 3px solid #769BF5;
 }

 .search-bar{
  height: 50px;
  border-bottom: 3px solid #769BF5;
 }
 .search-btn i{
  color: var(--text_Dcolor);
  font-size: large;
  margin: 1rem 0 0 1rem;
 }

.aside-contant{
 background-color: #2A2B45 ;
 margin: 0.5rem;
 border-radius: 10px;
 padding: 10px;

}
.search-bar input{
  font-size: large;

}
.contant{
  display: flex;
  gap: 1rem;
}
img{
  width: 30px;
}
.text-contant a {
  text-decoration: none;
  color: var(--text_Dcolor);
}

 .main_display {
  width: 80%;
  height: max-content;
  min-height: 90vh;
  border: 3px solid var(--border_color);
 }

 .main_nav{
  width: 100%;
  height:8vh;
  border-bottom: 3px solid var(--border_color);
  display: flex;
  justify-content: center;
 }

 .main_nav_lc {
  height: 100%;
  width: 94%;
  display: flex;
  align-items: center;
  justify-content: space-between;
 }

 .m_link_btn{
  padding: 3px ;
  border: none;
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--bg_color);
  border-radius: 10px;
  background: var(--text_Dcolor);
 }

 .main_link {
  color: var(--text_Dcolor);
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  font-size: 1.2rem;
 }

 .main_link span {
  font-weight: 300;
 }

 .main_link i{
  font-size: 2rem;
 }

 .info_display{
  width: 100%;
  height: max-content;
  min-height: 90vh;
 }










/* The home page styling ends here */